ul {
  list-style-type: none;
}
.everyBody {
  background-position: bottom;
  background-color: #2b0534;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%237e5aac' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23951f40' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%239b3671' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%237c2251' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23a452a4' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b10b40' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23a32574' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23636acf' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23a13fa7' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238e3a95' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%239440bf' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%234b1e6c' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.glassContainer {
  width: 70vw;
  background: rgba(136, 0, 136, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.completed-chore {
  list-style-type: "✓  ";
}

@media (min-width: 992px) {
  .everyBody {
    background-position: bottom;
  }
  .addButton {
    padding-right: 24%;
  }

  .glassContainer {
    width: 30vw;
  }
}

@media (min-width: 1099px) {
  /*  .everyBody {
    background-position: right 0%;
    background-size: auto auto;
  }*/
  .addButton {
    padding-right: 28.5%;
  }
}
